.contactContainer {
  background: #2e2e2e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contactContainer h1 {
  color: snow;
  opacity: 1;
  z-index: 0;
  font-style: italic;
}
.contact-box {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.links-box .fa {
  font-size: x-large;
  padding: 8px;
  background-color: none;
  margin: 10px;
  border: 2px solid rgb(211, 211, 211);
  color: rgb(211, 211, 211);
  border-radius: 80%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.links-box .fa:hover {
  cursor: pointer;
  border: 2px solid white;
  color: white;
  z-index: 12;
}
.links-box {
  width: 20%;
  height: 60%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  z-index: 5;
}
.links-box .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.from-info {
  font-size: 16px;
  font-style: italic;
  color: white;
  letter-spacing: 2px;
}

$cn: rgba(0, 0, 0, 0);
.envelope {
  height: 360px;
  width: 640px;

  background-color: #3e71da;
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 360px 0 0 640px;
    border-color: $cn $cn $cn #c29c93;
    z-index: 5;
  }
  &:after {
    border-width: 360px 640px 0 0;
    border-color: $cn #89dff7 $cn;
  }
  .envelope-cap {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    z-index: 4;
    background: #3760c9;
    transition: 2s 2s ease-in;
    transform-origin: 50% 100% 0;
    transform: rotateX(180deg);

    &:after {
      content: "";
      border-style: solid;
      border-width: 0 320px 180px 320px;
      border-color: $cn $cn #3760c9;
      position: absolute;
      left: 0;
      bottom: 100%;
    }
  }
  .latter-form {
    background-color: snow;
    padding: 20px;
    width: 600px;
    height: 320px;
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 3;
    line-height: 2;
    transition: 2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .latter-form h2 {
      font-size: 30px;
      color: #333;
      font-weight: 500;
    }
    .inputBox {
      position: relative;
      width: 100%;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
    .inputBox input,
    textarea {
      width: 100%;
      padding: 5px 0;
      font-size: 12px;
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid #333;
      outline: none;
    }
    .inputBox span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 12px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }
    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span {
      color: red;
      font-size: 12px;
      transform: translateY(-20px);
    }
    .inputBox input[type="submit"] {
      width: 100px;
      background-color: lightseagreen;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 8px;
      font-size: 18px;
    }
  }

  &:hover {
    .latter-form {
      bottom: 280px;
      transition: 0.8s 0.2s ease-in;
    }
    .envelope-cap {
      transform: rotateX(0deg);
      transition: 0.2s ease-in;
      z-index: 2;
    }
  }
}
.contactContainer img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
}
