.contactContainer {
  background: $white;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: $orange;
}
.contactContainer h1 {
  color: inherit;
  padding-top: 20px;
  font-style: italic;
}
.contact-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: $black;
}
.links-box .fa {
  font-size: x-large;
  padding: 8px;
  background-color: none;
  margin: 10px;
  border: 2px solid $orange;

  border-radius: 80%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.links-box .fa:hover {
  cursor: pointer;
  border: 2px solid $orange;
  color: black;
  z-index: 12;
}
.links-box {
  width: 25rem;
  height: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  z-index: 5;
}
.links-box .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.from-info {
  font-size: 16px;
  font-style: italic;
  color: inherit;

  letter-spacing: 2px;
}

.latter-form {
  background-color: $white;
  opacity: 0.7;
  width: 300px;
  height: 50%;
  z-index: 3;
  line-height: 2;
  transition: 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:hover {
    opacity: 1;
  }
  h2 {
    font-style: italic;
    color: $orange;
  }

  .inputBox {
    position: relative;
    width: 280px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputBox input,
  textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    height: 40px;
    border-radius: 12px;
  }
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 12px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: $orange;
  }
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span,
  .inputBox textarea:focus ~ span,
  .inputBox textarea:valid ~ span {
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .inputBox input[type="submit"] {
    width: 150px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
  }
}

.contactContainer img {
  position: absolute;
  height: 85vh;
  width: 100vw;
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .link {
    height: 20%;
    
  }
  .link i {
    padding: 5px;
  }
  .link span {
    font-size: 15px;
  }
  .latter-form .inputBox input,
  .latter-form textarea {
    padding: 0px;
    margin: 0px;
  }
}
