.footer-container {
  background-color: $lightO;
  min-height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.footer-links {
  font-size: 30px;
  align-items: center;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
.footer-links a {
  color: $black;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: large;
  padding: 5px;
}
