.footer-container {
  background-color: $lightO;
  min-height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  z-index: 5;
}
.footer-links {
  font-size: 30px;
  align-items: center;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  color: $black;
}

.footer-copyright {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: large;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  .footer-container {
    padding-top: 15px;
  }
  .footer-links {
    font-size: 22px;
  }
}

@media only screen and (max-width: 380px) {
  .footer-container {
    padding: 5px;
    font-size: 10px;
  }
  .footer-links {
    font-size: 18px;
    justify-content: space-between;
  }

  .footer-copyright {
    padding: 10px;
    font-size: 10px;
    justify-content: flex-start;
  }
}
