.footer-container {
  background-color: rgb(172, 199, 207);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.footer-links {
  font-size: 30px;

  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: large;
  padding: 5px;
}
