.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 84vh;
  overflow: hidden;
}
.home-box {
  // background-color: rgb(90, 87, 87);
  color: orange;
  height: 60vh;
  width: 50vw;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


.home-box h1,
h3 {
  text-shadow: snow 1px 1px 1px;
  font-family: "Chivo", sans-serif;
}
.home-box button {
  font-size: large;
  padding: 5px;
  background-color: rgb(146, 132, 106);
  width: 10rem;
}
.home-box button:hover {
  cursor: pointer;
  background-color: white;
}
.home-box p {
  width: 20vw;
  color: black;
  text-shadow: rgb(51, 51, 51) 1px 1px 1px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
}
.profile{
  width: 40vw;
  
  }
.profile div {
  height:600px;
  width:90%;
  border-radius:57% 43% 0% 100% / 54% 91% 9% 46% ;
  background-color:black;
  display:flex;
  align-items: center;
  justify-content: center;
}
.profile div img {
height: 400px;
width: 400px;
border-radius: 50%  ;

border: 5px dotted orange;

}

