.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}
.home-box {
  // background-color: rgb(90, 87, 87);
  color: rgb(0, 73, 97);
  height: 60vh;
  width: 40vw;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
video {
  position: absolute;
  height: 90vh;
  width: 100vw;
  opacity: 0.9;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  opacity: 0.9;
}

.home-box h1,
h3 {
  text-shadow: snow 1px 1px 1px;
  font-family: "Chivo", sans-serif;
}
.home-box button {
  font-size: large;
  padding: 5px;
  background-color: lightblue;
  width: 10rem;
}
.home-box button:hover {
  cursor: pointer;
  background-color: white;
}
.home-box p {
  color: snow;
  text-shadow: rgb(26, 24, 24) 1px 1px 1px;
  letter-spacing: 2px;
  font-size: x-large;
  font-weight: bold;
}
