.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.home-box {
   // background-color: rgb(90, 87, 87);
    color:rgb(0, 73, 97);
    height: 60vh;
    width: 40vw;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
   
    
    
    
  }
  .home-box img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    z-index: -1;
  }
 
  
  
  .home-box h1,h3 {
    text-shadow: rgb(133, 132, 132) 1px 1px 1px ;
    font-family: 'Chivo', sans-serif;
  }
  .home-box button {
    font-size: large;
    padding: 5px;
  }
  .home-box p {
    color: snow;
    text-shadow: rgb(26, 24, 24) 1px 1px 1px ;
    letter-spacing: 2px;
    font-size: x-large;
  }