nav {
  max-width:100vw;
  
}

nav ul{
    background-color: $orange;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 6vh;
    border-radius: 5px;
    z-index: 0;
    }
   nav ul li {
  
    text-align: center;
    height: 3vh;
    width: 4.5rem;
    color:$black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size:20px;
    
 
    }
   a {
    text-decoration: none;
    list-style: none;
   }
   #logo {
     font-family: 'Palette Mosaic', cursive;
     border: 1px solid ;
     color:$black;
     border-radius:57% 43% 0% 100% / 54% 91% 9% 46% ;
     width: 50px;
     height: 50px;
    
     
   }
   nav ul li:hover {
     background-color:$lightO;
     border-radius:10px;
   }
   @media screen and (max-width: 992px) {
    #logo{
      width:40px;
      height:40px;
    }
   }
  
 