.slider {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}
.sliderImage {
  width: 68vw;
  height: 70vh;
  border-radius: 10px;
  object-fit: cover;
}
.project-container{
 
  position: fixed;
 
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  left: 32px;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  height: 80%;
  //border: 1px red solid;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}
.projects-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.projects-info a {
  font-size: 30px;
  color: rgb(146, 129, 129);
}
