.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 84vh;
  width: 100vw;
  background: snow;
}
.boxContainer h2 {
  color: black;
}

.ICONS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;
  margin: 20px 0;
  width: 60vw;
  height: 30vh;
}
.ICONS li {
  list-style: none;
  padding: 5px;
  transition: transform 0.2s;
  font-size: 5rem;
}
.ICONS li:hover {
  transform: scale(1.8);
  //padding:0;
  filter: grayscale(50%) opacity(95%);
}

.ICONS li:nth-child(1) {
  color: orangered;
}
.ICONS li:nth-child(2) {
  color: #2965f1;
}
.ICONS li:nth-child(3) {
  color: #f0db4f;
}
.ICONS li:nth-child(4) {
  color: #553c7b;
}
.ICONS li:nth-child(5) {
  color: #cd6799;
}
.ICONS li:nth-child(6) {
  color: #61dbfb;
}
.ICONS li:nth-child(7) {
  color: #3c873a;
}
.ICONS li:nth-child(8) {
  color: #4db33d;
}

.containerS {
  position: relative;
}
.skills {
  display: flex;
  position: relative;
  margin: 20px 0;
  padding: 24px 10px 18px;
  background-image: linear-gradient(
    to right bottom,
    grey,
    rgb(73, 72, 72),
    black
  );
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid black;
  transition: 0.6s;
}
.skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(128, 125, 125, 0.1);
}
.Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.Value {
  position: relative;
  width: 40px;
  text-align: left;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.percent {
  position: relative;
  width: 350px;
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
  //border: red 1px solid;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background-color: snow;
  box-shadow: inset 0 0 2px black;
  animation: move 4s ease-in-out forwards;
}
@keyframes move {
  from {
    width: 0;
  }
}

.skills:nth-last-child(4) .percent .progress {
  background-image: linear-gradient(45deg, rgb(72, 181, 218), purple);
}
.skills:nth-last-child(3) .percent .progress {
  background-image: linear-gradient(90deg, rgb(72, 181, 218), green);
}
.skills:nth-last-child(2) .percent .progress {
  background-image: linear-gradient(45deg, yellow, pink);
}
.skills:nth-last-child(1) .percent .progress {
  background-image: linear-gradient(45deg, red, rgb(182, 123, 123));
}
.containerS:hover .skills {
  opacity: 0.05;
}

.containerS .skills:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 992px) {
  .boxContainer {
    height: auto;
  }
  h2 {
    margin-top: 5px;
  }
  .ICONS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    margin: 20px 0;
    width: 70vw;
    height: 40vh;
  }
  .ICONS li {
    list-style: none;
    padding: 3px;

    font-size: 4rem;
  }
  .skills {
    width: 80%;
    margin-left: 50px;
    font-size: 15px;
  }
  .containerS {
    position: relative;
    width: 28rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    .skills {
      padding: 15px 10px;
      margin: 15px;
    }
  }
}
